
<section ng-controller="TxCtrl" ng-switch="state" class="single ddpage content">
  <group ng-switch-when="loading">
    <p class="literal"><img src="img/button-s.png" class="loader"/><span class="loading_text">Načítanie detailov transakcie...</span></p>
  </group>
  <group ng-switch-when="error">
    <p class="literal">Pri načítaní detailov transakcie nastala chyba.</p>
  </group>
  <group ng-switch-when="loaded">
    <p class="literal hash"><span>Transakcia č.</span><span ng-bind="transaction.hash"></span>
      <div><a href="{{'https://ripplecharts.com/#/graph/' + transaction.hash}}" target="_blank">Ukázať na grafe</a></div>
    </p>
    <hr/>
    <p class="literal type">Transaction type:<strong ng-bind="transaction.TransactionType"></strong></p>
    <group ng-switch="transaction.TransactionType">
      <group ng-switch-when="Payment">
        <group class="clearfix">
          <dl class="details half">
            <dt><span>Adresa odosielateľa</span><span>:</span></dt>
            <dd ng-bind="transaction.Account"></dd>
            <dt><span>Odoslaná čiastka</span><span>:</span></dt>
            <dd>{{transaction.amountSent | rpamount}} {{transaction.amountSent | rpcurrency}}</dd>
            <dt><span>Odoslaná mena</span><span>:</span></dt>
            <dd>{{transaction.amountSent | rpcurrencyfull}}</dd>
          </dl>
          <dl class="details half">
            <dt><span>Odoslané na adresu</span><span>:</span></dt>
            <dd>{{transaction.Destination}}</dd>
            <dt><span>Prijatá čiastka</span><span>:</span></dt>
            <dd>{{transaction.Amount | rpamount}} {{transaction.Amount | rpcurrency}}</dd>
            <dt><span>Prijatá mena</span><span>:</span></dt>
            <dd>{{transaction.Amount | rpcurrencyfull}}</dd>
          </dl>
        </group>
        <hr/>
        <group class="clearfix">
          <dl class="details half">
            <dt><span>Uhradený poplatok siete</span><span>:</span></dt>
            <dd>{{transaction.Fee | rpamount}} XRP</dd>
          </dl>
          <dl class="details half">
            <group ng-show="transaction.DestinationTag !== null &amp;&amp; transaction.DestinationTag !== undefined">
              <dt><span>Značka adresáta</span><span>:</span></dt>
              <dd ng-bind="transaction.DestinationTag"></dd>
            </group>
          </dl>
        </group>
        <hr/>
        <dl class="details">
          <dt><span>Čislo registra</span><span>:</span></dt>
          <dd ng-bind="transaction.ledger"></dd>
        </dl>
      </group>
      <group ng-switch-default="ng-switch-default">
        <group class="clearfix">
          <dl class="details half">
            <dt>Adresa odoslaná z:</dt>
            <dd ng-bind="transaction.Account"></dd>
          </dl>
          <dl class="details half"></dl>
        </group>
        <hr/>
        <p class="literal">Prepáčte, ale zatiaľ neexistuje informačná stránka pre tento typ transakcie.</p>
      </group>
    </group>
  </group>
</section>