
<group ng-switch="tab">
  <!-- All fund -> individual currency tab errors-->
  <group ng-switch-when="trust">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tes">
        <group ng-hide="accepted" class="pending">
          <h2 class="tx-status">게이트웨이 연결중...</h2>
        </group>
        <group ng-show="accepted" class="result-success">
          <h2 class="tx-status">게이트웨이 연결됨</h2>
        </group>
      </group>
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">게이트웨이 연결에 문제가 있습니다. 잠시 후 다시 시도해 주세요.</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">에러 코드:  {{engine_result}} - {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tef" class="result-malformed">
        <div ng-switch="engine_result">
          <div ng-switch-when="tefMAX_LEDGER">
            <h2 class="tx-status">요청이 실패했습니다.</h2>
            <p><span>요청 시간이 경과 되었습니다. 다시 시도해 주세요.</span></p>
          </div>
          <div ng-switch-default="ng-switch-default">
            <h2 class="tx-status">요청이 실패했습니다.</h2>
            <p ng-switch="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED">에러 코드: 대상 태그 필요 [tefDST_TAG_NEEDED].</span></p>
          </div>
        </div>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">에러 코드: 네트워크 최대 수수료를 초과하였습니다. 요청이 실패하였으니 다시 시도해 주세요 [telINSUF_FEE_P].</span></p>
      </group>
      <group ng-switch-when="tec" class="result-malformed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">에러 코드: 해당 통화와 연결된 게이트웨이가 없습니다 [terNO_LINE].</span><span ng-switch-when="tecINSUF_RESERVE_LINE">에러 코드: 게이트웨이 연결에 부족한 저당입니다 [tecINSUF_RESERVE_LINE].</span><span ng-switch-when="tecNO_LINE_INSUF_RESERVE">에러 코드: 게이트웨이 연결에 부족한 저당입니다 [tecNO_LINE_INSUF_RESERVE]. <a href="https://ripple.com/wiki/Reserves">상세 정보</a></span><span ng-switch-default="ng-switch-default">에러: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">에러 코드: 해당 통화와 연결된 게이트웨이가 없습니다 [terNO_LINE].</span></p><span ng-switch-default="ng-switch-default">요청이 실패하였습니다: {{engine_result}} - {{engine_result_message}}</span>
      </group>
      <group ng-switch-when="tej" class="result-failed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tejLost">에러 코드: 요청을 제출할 수  없습니다 [tejLost].</span><span ng-switch-when="tejMaxFeeExceeded">거래가 실패하였습니다. 현재 네트워크 수수료가 지갑 한도를 초과했습니다. 네트워크 최대 수수료를 고급 설정에서 조절하거나, 다음에 다시 시도하십시오. 에러 코드: 네트워크 수수료를 조절하십시오 [tejMaxFeeExceeded].</span></p><span ng-switch-default="ng-switch-default">다음과 같은 이유로 거래가 제출되지 않았습니다. {{engine_result}} - {{engine_result_message}}</span>
      </group>
    </div>
  </group>
  <!-- All send & convert errors-->
  <group ng-switch-when="send_convert">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tes">
        <group ng-hide="accepted" class="pending">
          <h2 class="tx-status">결제 보류중</h2>
        </group>
        <group ng-show="accepted" class="result-success">
          <h2 class="tx-status">결제 완료</h2>
        </group>
      </group>
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">결제 실패</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">에러 코드:  {{engine_result}} - {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tef" class="result-malformed">
        <div ng-switch="engine_result">
          <div ng-switch-when="tefMAX_LEDGER">
            <h2 class="tx-status">결제 실패 [tefMAX_LEDGER].</h2>
            <p ng-switch="engine_result"><span>요청 시간이 경과 되었습니다. 다시 시도해 주세요.</span></p>
          </div>
          <div ng-switch-default="ng-switch-default">
            <h2 class="tx-status">결제 실패</h2>
            <p ng-switch="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED">에러 코드: 대상 태그 필요 [tefDST_TAG_NEEDED].</span></p>
          </div>
        </div>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">결제 실패</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">에러 코드: 네트워크 최대 수수료를 초과하였습니다. 요청이 실패하였으니 다시 시도해 주세요. [telINSUF_FEE_P].</span></p>
      </group>
      <group ng-switch-when="tec" class="result-malformed">
        <h2 class="tx-status">결제 실패</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tecNO_DST">에러 코드: 대상 없음 [tecNO_DST].</span><span ng-switch-when="tecNO_DST_INSUF_XRP">에러 코드: 불충분한 XRP 를 보냅니다[tecNO_DST_INSUF_XRP].</span><span ng-switch-default="ng-switch-default">에러: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">결제 실패</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">에러 코드: 해당 통화와 연결된 게이트웨이가 없습니다 [terNO_LINE].</span></p><span ng-switch-default="ng-switch-default">결제가 실패하였습니다: {{engine_result}} - {{engine_result_message}}</span>
      </group>
      <group ng-switch-when="tej" class="result-failed">
        <h2 class="tx-status">결제 실패</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tejLost">에러 코드: 거래 요청이 이루어지지 않았습니다 [tejLost].</span><span ng-switch-when="tejMaxFeeExceeded">거래가 실패하였습니다. 현재 네트워크 수수료가 지갑 한도를 초과했습니다. 네트워크 최대 수수료를 고급 설정에서 조절하거나, 다음에 다시 시도하십시오. 에러 코드: 네트워크 수수료를 조절하십시오 [tejMaxFeeExceeded].</span></p><span ng-switch-default="ng-switch-default">결제가 이루어지지 않았습니다: {{engine_result}} - {{engine_result_message}}</span>
      </group>
    </div>
  </group>
  <group ng-switch-when="trade">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">요청이 잘못되었습니다.</h2>
        <p>다음과 같은 이유로 요청이 유효하지 않습니다: {{engine_result_message}} - {{engine_result_message}}</p>
      </group>
      <group ng-switch-when"tec="ng-switch-when"tec" class="result-malformed">
        <h2 class="tx-status">결제 실패.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tecUNFUNDED_ORDER">거래하기 위한 자금이 부족합니다 [tecUNFUNDED_ORDER].</span><span ng-switch-when="tecINSUF_RESERVE_OFFER">거래시 필요한 저당이 부족합니다 [tecINSUF_RESERVE_OFFER].</span><span ng-switch-when="tejMaxFeeExceeded">거래가 실패하였습니다. 현재 네트워크 수수료가 지갑 한도를 초과했습니다. 네트워크 최대 수수료를 고급 설정에서 조절하거나, 다음에 다시 시도하십시오. 에러 코드: 네트워크 수수료를 조절하십시오 [tejMaxFeeExceeded].</span><span ng-switch-default="ng-switch-default">에러: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">거래가 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">거래가 실패했습니다: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">결제 실패.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">회원님이 거래한 수수료를 포함한 특정 서버가 거래를 전송하거나 처리하기에 매우 바쁜 상태입니다[telINSUF_FEE_P].</span></p>
      </group>
    </div>
  </group>
  <group ng-switch-default="ng-switch-default">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tes">
        <group ng-hide="accepted" class="pending">
          <h2 class="tx-status">요청 승인중</h2>
        </group>
        <group ng-show="accepted" class="result-success">
          <h2 class="tx-status">승인 완료</h2>
        </group>
      </group>
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">에러 코드:  {{engine_result}} - {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tef" class="result-malformed">
        <div ng-switch="engine_result">
          <div ng-switch-when="tefMAX_LEDGER">
            <h2 class="tx-status">요청이 실패했습니다.</h2>
            <p ng-switch="engine_result"><span>요청 시간이 경과 되었습니다. 다시 시도해 주세요.</span></p>
          </div>
          <div ng-switch-default="ng-switch-default">
            <h2 class="tx-status">요청이 실패했습니다.</h2>
            <p ng-switch="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED">에러 코드: 대상 태그 필요 [tefDST_TAG_NEEDED].</span></p>
          </div>
        </div>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">에러 코드: 네트워크 최대 수수료를 초과하였습니다. 요청이 실패하였으니 다시 시도해 주세요 [telINSUF_FEE_P].</span></p>
      </group>
      <group ng-switch-when="tec" class="result-malformed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tecNO_DST">에러 코드: 대상 없음 [tecNO_DST].</span><span ng-switch-when="tecNO_DST_INSUF_XRP">에러 코드: 불충분한 XRP 를 보냅니다[tecNO_DST_INSUF_XRP].</span><span ng-switch-default="ng-switch-default">에러: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">에러 코드: 해당 통화와 연결된 게이트웨이가 없습니다 [terNO_LINE].</span></p><span ng-switch-default="ng-switch-default">요청이 실패하였습니다: {{engine_result}} - {{engine_result_message}}</span>
      </group>
      <group ng-switch-when="tej" class="result-failed">
        <h2 class="tx-status">요청이 실패했습니다.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tejLost">에러 코드: 요청을 제출할 수  없습니다 [tejLost].</span><span ng-switch-when="tejMaxFeeExceeded">거래가 실패하였습니다. 현재 네트워크 수수료가 지갑 한도를 초과했습니다. 네트워크 최대 수수료를 고급 설정에서 조절하거나, 다음에 다시 시도하십시오. 에러 코드: 네트워크 수수료를 조절하십시오 [tejMaxFeeExceeded].</span></p><span ng-switch-default="ng-switch-default">다음과 같은 이유로 거래가 제출되지 않았습니다. {{engine_result}} - {{engine_result_message}}</span>
      </group>
    </div>
  </group>
</group>