
<group ng-switch="tab">
  <!-- All fund -> individual currency tab errors-->
  <group ng-switch-when="trust">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tes">
        <group ng-hide="accepted" class="pending">
          <h2 class="tx-status">Connecting gateway to your account...</h2>
        </group>
        <group ng-show="accepted" class="result-success">
          <h2 class="tx-status">Gateway connected.</h2>
        </group>
      </group>
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">There was a problem connecting to the gateway. Please try again later.</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">Error code: {{engine_result}} - {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tef" class="result-malformed">
        <div ng-switch="engine_result">
          <div ng-switch-when="tefMAX_LEDGER">
            <h2 class="tx-status">Request failed</h2>
            <p><span>Your request timed out, please try again.</span></p>
          </div>
          <div ng-switch-default="ng-switch-default">
            <h2 class="tx-status">Request failed</h2>
            <p ng-switch="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED">Error code: Destination tag needed [tefDST_TAG_NEEDED].</span></p>
          </div>
        </div>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">Error code: This request failed because it exceeded the maximum network fee, please try again later [telINSUF_FEE_P].</span></p>
      </group>
      <group ng-switch-when="tec" class="result-malformed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">Error code: You have no gateway connected in this currency [terNO_LINE].</span><span ng-switch-when="tecINSUF_RESERVE_LINE">Error code: Insufficient reserve to connect gateway [tecINSUF_RESERVE_LINE].</span><span ng-switch-when="tecNO_LINE_INSUF_RESERVE">Error code: You have an insufficient reserve amount to connect a gateway [tecNO_LINE_INSUF_RESERVE]. <a href="https://ripple.com/wiki/Reserves">More information</a></span><span ng-switch-default="ng-switch-default">Error: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">Error code: You have no trust line in this currency [terNO_LINE].</span></p><span ng-switch-default="ng-switch-default">Your request failed: {{engine_result}} - {{engine_result_message}}</span>
      </group>
      <group ng-switch-when="tej" class="result-failed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tejLost">Error code: request could not be submitted [tejLost].</span><span ng-switch-when="tejMaxFeeExceeded">This request failed because the current network fee is higher than your account limit. You can adjust your maximum network fee in Settings &gt Advanced, or try again later. <br>Error code: Network fee exceeded [tejMaxFeeExceeded].</span></p><span ng-switch-default="ng-switch-default">Your request could not be submitted: {{engine_result}} - {{engine_result_message}}</span>
      </group>
    </div>
  </group>
  <!-- All send & convert errors-->
  <group ng-switch-when="send_convert">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tes">
        <group ng-hide="accepted" class="pending">
          <h2 class="tx-status">Payment pending</h2>
        </group>
        <group ng-show="accepted" class="result-success">
          <h2 class="tx-status">Payment successful</h2>
        </group>
      </group>
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">Payment failed</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">Error code: {{engine_result}} - {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tef" class="result-malformed">
        <div ng-switch="engine_result">
          <div ng-switch-when="tefMAX_LEDGER">
            <h2 class="tx-status">Payment failed [tefMAX_LEDGER].</h2>
            <p ng-switch="engine_result"><span>Your payment timed out, please try again.</span></p>
          </div>
          <div ng-switch-default="ng-switch-default">
            <h2 class="tx-status">Payment failed</h2>
            <p ng-switch="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED">Error code: Destination tag needed [tefDST_TAG_NEEDED].</span></p>
          </div>
        </div>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">Payment failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">Error code: This transaction failed because it exceeded the maximum network fee, please try again later [telINSUF_FEE_P].</span></p>
      </group>
      <group ng-switch-when="tec" class="result-malformed">
        <h2 class="tx-status">Payment failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tecNO_DST">Error code: No destination [tecNO_DST].</span><span ng-switch-when="tecNO_DST_INSUF_XRP">Error code: Insufficient XRP sent to destination [tecNO_DST_INSUF_XRP].</span><span ng-switch-default="ng-switch-default">Error: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">Payment failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">Error code: You have no trust line in this currency [terNO_LINE].</span></p><span ng-switch-default="ng-switch-default">Your payment failed: {{engine_result}} - {{engine_result_message}}</span>
      </group>
      <group ng-switch-when="tej" class="result-failed">
        <h2 class="tx-status">Payment failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tejLost">Error code: Transaction could not be submitted [tejLost].</span><span ng-switch-when="tejMaxFeeExceeded">This transaction failed because the current network fee is higher than your account limit. You can adjust your maximum network fee in Settings &gt Advanced, or try again later. <br>Error code: Network fee exceeded [tejMaxFeeExceeded].</span></p><span ng-switch-default="ng-switch-default">Your payment could not be submitted: {{engine_result}} - {{engine_result_message}}</span>
      </group>
    </div>
  </group>
  <group ng-switch-when="trade">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">Request is malformed.</h2>
        <p>Your request is invalid, reason: {{engine_result_message}} - {{engine_result_message}}</p>
      </group>
      <group ng-switch-when"tec="ng-switch-when"tec" class="result-malformed">
        <h2 class="tx-status">Transaction failed.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tecUNFUNDED_ORDER">You do not have enough funds to create this order [tecUNFUNDED_ORDER].</span><span ng-switch-when="tecINSUF_RESERVE_OFFER">Insufficient reserve amount to submit an order [tecINSUF_RESERVE_OFFER].</span><span ng-switch-when="tejMaxFeeExceeded">This transaction failed because the current network fee is higher than your account limit. You can adjust your maximum network fee in Settings &gt Advanced, or try again later. <br>Error code: Network fee exceeded [tejMaxFeeExceeded]. <a href="https://ripple.com/wiki/Reserves" target="_blank">More information.</a></span><span ng-switch-default="ng-switch-default">Error: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">Trade failed.</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">Trade failed, reason: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">Transaction failed.</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">The particular server you sent the transaction to was too busy to forward or process your transaction at the fee you included in it [telINSUF_FEE_P].</span></p>
      </group>
    </div>
  </group>
  <group ng-switch-default="ng-switch-default">
    <div ng-switch="engine_result | rptruncate:3" class="transaction-error">
      <group ng-switch-when="tes">
        <group ng-hide="accepted" class="pending">
          <h2 class="tx-status">Request pending</h2>
        </group>
        <group ng-show="accepted" class="result-success">
          <h2 class="tx-status">Request successful</h2>
        </group>
      </group>
      <group ng-switch-when="tem" class="result-malformed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-default="ng-switch-default">Error code: {{engine_result}} - {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="tef" class="result-malformed">
        <div ng-switch="engine_result">
          <div ng-switch-when="tefMAX_LEDGER">
            <h2 class="tx-status">Request failed</h2>
            <p ng-switch="engine_result"><span>Your request timed out, please try again.</span></p>
          </div>
          <div ng-switch-default="ng-switch-default">
            <h2 class="tx-status">Request failed</h2>
            <p ng-switch="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED">Error code: Destination tag needed [tefDST_TAG_NEEDED].</span></p>
          </div>
        </div>
      </group>
      <group ng-switch-when="tel" class="result-failed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="telINSUF_FEE_P">Error code: This request failed because it exceeded the maximum network fee, please try again later [telINSUF_FEE_P].</span></p>
      </group>
      <group ng-switch-when="tec" class="result-malformed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tecNO_DST">Error code: No destination [tecNO_DST].</span><span ng-switch-when="tecNO_DST_INSUF_XRP">Error code: Insufficient XRP sent to destination [tecNO_DST_INSUF_XRP].</span><span ng-switch-default="ng-switch-default">Error: {{engine_result_message}}</span></p>
      </group>
      <group ng-switch-when="ter" class="result-failed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="terNO_LINE">Error code: You have no trust line in this currency [terNO_LINE].</span></p><span ng-switch-default="ng-switch-default">Your request failed: {{engine_result}} - {{engine_result_message}}</span>
      </group>
      <group ng-switch-when="tej" class="result-failed">
        <h2 class="tx-status">Request failed</h2>
        <p ng-switch="engine_result"><span ng-switch-when="tejLost">Error code: request could not be submitted [tejLost].</span><span ng-switch-when="tejMaxFeeExceeded">This request failed because the current network fee is higher than your account limit. You can adjust your maximum network fee in Settings &gt Advanced, or try again later. <br>Error code: Network fee exceeded [tejMaxFeeExceeded].</span></p><span ng-switch-default="ng-switch-default">Your request could not be submitted: {{engine_result}} - {{engine_result_message}}</span>
      </group>
    </div>
  </group>
</group>