
<section ng-controller="SuCtrl" class="col-xs-12 content">
  <group ng-hide="connected" class="disconnected">
    <p class="literal">この画面を見るにはオンラインでなければなりません。</p>
  </group>
  <group ng-hide="!connected || loadState.account" class="disconnected">
    <p class="literal">ロード中...</p>
  </group>
  <div ng-show="connected &amp;&amp; loadState.account">
    <h3>Welcome Super User</h3>
    <p class="literal">アカウント</p>
    <hr/>
    <form name="accountForm" ng-submit="accountSet()">
      <div class="row">
        <div class="col-sm-6">
          <input name="domain" ng-model="account.domain" class="form-control"/>
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-block btn-success">Change Domain</button>
        </div>
      </div>
    </form>
  </div>
</section>