
<section ng-controller="TxCtrl" ng-switch="state" class="single ddpage content">
  <group ng-switch-when="loading">
    <p class="literal"><img src="img/button-s.png" class="loader"/><span class="loading_text">Загружаются детали транзакции...</span></p>
  </group>
  <group ng-switch-when="error">
    <p class="literal">Произошла ошибка при загрузке деталей транзакции.</p>
  </group>
  <group ng-switch-when="loaded">
    <p class="literal hash"><span>Транзакция #</span><span ng-bind="transaction.hash"></span>
      <div><a href="{{'https://ripplecharts.com/#/graph/' + transaction.hash}}" target="_blank">Показать на графике</a></div>
    </p>
    <hr/>
    <p class="literal type">Transaction type:<strong ng-bind="transaction.TransactionType"></strong></p>
    <group ng-switch="transaction.TransactionType">
      <group ng-switch-when="Payment">
        <group class="clearfix">
          <dl class="details half">
            <dt><span>Адрес отправителя</span><span>:</span></dt>
            <dd ng-bind="transaction.Account"></dd>
            <dt><span>Отправленное количество</span><span>:</span></dt>
            <dd>{{transaction.amountSent | rpamount}} {{transaction.amountSent | rpcurrency}}</dd>
            <dt><span>Отправленная валюта</span><span>:</span></dt>
            <dd>{{transaction.amountSent | rpcurrencyfull}}</dd>
          </dl>
          <dl class="details half">
            <dt><span>Адрес получателя</span><span>:</span></dt>
            <dd>{{transaction.Destination}}</dd>
            <dt><span>Полученное количество</span><span>:</span></dt>
            <dd>{{transaction.Amount | rpamount}} {{transaction.Amount | rpcurrency}}</dd>
            <dt><span>Полученная валюта</span><span>:</span></dt>
            <dd>{{transaction.Amount | rpcurrencyfull}}</dd>
          </dl>
        </group>
        <hr/>
        <group class="clearfix">
          <dl class="details half">
            <dt><span>Комиссия сети</span><span>:</span></dt>
            <dd>{{transaction.Fee | rpamount}} XRP</dd>
          </dl>
          <dl class="details half">
            <group ng-show="transaction.DestinationTag !== null &amp;&amp; transaction.DestinationTag !== undefined">
              <dt><span>Метка назначения</span><span>:</span></dt>
              <dd ng-bind="transaction.DestinationTag"></dd>
            </group>
          </dl>
        </group>
        <hr/>
        <dl class="details">
          <dt><span>Номер реестра</span><span>:</span></dt>
          <dd ng-bind="transaction.ledger"></dd>
        </dl>
      </group>
      <group ng-switch-default="ng-switch-default">
        <group class="clearfix">
          <dl class="details half">
            <dt>Адрес отправителя:</dt>
            <dd ng-bind="transaction.Account"></dd>
          </dl>
          <dl class="details half"></dl>
        </group>
        <hr/>
        <p class="literal">Извините, мы еще не создали формат отображения для этого типа транзакции.</p>
      </group>
    </group>
  </group>
</section>