
<section ng-controller="TrustCtrl" class="col-xs-12 content">
  <group ng-hide="connected" class="disconnected">
    <p class="literal">Du må være tilkoblet for å kunne se denne siden</p>
  </group>
  <group ng-hide="!connected || loadState.lines" class="disconnected">
    <p class="literal">Henter...</p>
  </group>
  <group ng-show="connected &amp;&amp; loadState.lines">
    <div ng-show="!loadingAccount &amp;&amp; !account.Balance &amp;&amp; loadState.account &amp;&amp; connected">
      <div class="auth-attention banner">
        <h4>Welcome to Ripple Trade! Your account needs to be activated. You can activate it in 2 ways:</h4>
        <ul>
          <li>Have another user send XRP to your Ripple name (~{{userCredentials.username}}).&#32<a href="https://ripple.com/knowledge_center/activating-your-wallet/" target="_blank">Suggestions for getting XRP.&#32</a></li>
          <li><a href="#/btc">Deposit BTC (only the btc2ripple option works for activating accounts).</a></li>
        </ul>
      </div>
    </div>
    <div ng-show="hasRTJapanTrust">
      <div class="warning-attention banner">
        <h4>警告</h4>
        <p>
          リップルトレードジャパンをゲイトウェイとして使用しないことをお勧めします。
          最近の出来事から判断しまして、リップルトレードジャパンを使用すると、資金が失われる可能性があります。
        </p>
      </div>
    </div>
    <div ng-show="hasRTJapanTrustWithRippling">
      <div class="warning-attention banner">
        <h4>警告</h4>
        <p>
          資金を保護するために、リップルトレードジャパンへのリップリングを無効にすることをお勧めします。
          無効化するには<a href="#/advanced">設定 &#62; 詳細</a>をクリックし、与信限度額の「Advanced Settings」が「表示」になっていることを確認して下さい。その後、<a href="#/trust">資金 &#62; ゲイトウェイ</a>ページで、リップルトレードジャパン(rMAz5ZnK73nyNUL4foAvaxdreczCkG3vA6)との Rippling がオフになっていることをご確認下さい。
        </p>
      </div>
    </div>
    <div class="row">
      <!-- Transaction errors coming from errors.js & transactionerror.jade-->
      <div ng-show="account.Balance" class="col-sm-12">
        <group class="mode-ripplerror">
          <rp-transaction-status rp-engine-result="{{engine_result}}" rp-engine-result-message="{{engine_result_message}}" rp-accepted="{{engine_status_accepted}}" rp-current-tab="trust"></rp-transaction-status>
        </group>
      </div>
      <div ng-show="notif !== &quot;clear&quot;" ng-hide="!notif" class="col-sm-12">
        <group class="mode-granted wide">
          <group ng-switch="notif">
            <group ng-switch-when="remove_gateway" class="pending">
              <h2 class="tx-status">Fjerner portal...</h2>
            </group>
            <group ng-switch-when="gateway_removed" class="result-success">
              <h2 class="tx-status">Gateway removed.</h2>
            </group>
            <group ng-switch-when="changes_saved" class="result-success">
              <h2 class="tx-status">Your changes have been saved.</h2>
            </group>
            <group ng-switch-when="max_fee" class="result-error">
              <h2 class="tx-status">Request failed.</h2>
              <p>
                This request failed because the current network fee is higher than your account limit. You can adjust your maximum network fee in Settings &gt Advanced, or try again later. <br>
                Error code: Network fee exceeded [tejMaxFeeExceeded].
              </p>
            </group>
            <group ng-switch-when="unlock_failed" class="result-error">
              <h2 class="tx-status">Account unlock failed.</h2>
              <p>Kunne ikke låse opp kontoen din. Prøv senere.</p>
            </group>
            <group ng-switch-when="error" class="result-error">
              <h2 class="tx-status">Feil under lagring av endringene dine.</h2>
              <p>Prøv senere.</p>
            </group>
          </group>
        </group>
      </div>
      <div ng-show="addform_visible &amp;&amp; !can_add_trust" class="col-sm-12">
        <div class="alert alert-warning">Du må ha minst <strong> {{account.reserve_to_add_trust | rpamount:0}} XRP</strong> for en ny kredittlinje. <a href="https://ripple.com/wiki/Reserves" target="_blank">More information</a></div>
      </div>
    </div>
    <div ng-show="connected" class="row">
      <div class="trust-menu">
        <div ng-hide="true" class="row row-padding-small head">
          <div class="col-sm-5">Navn / adresse</div>
          <div class="col-sm-2"><a href="" ng-click="sorting.predicate = 'currency'; sorting.reverse=!sorting.reverse">Valuta</a></div>
          <div class="col-sm-2"><a href="" ng-click="sorting.predicate = 'balance'; sorting.reverse=!sorting.reverse">Saldo</a></div>
          <div class="col-sm-2">Kredittgrense</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form id="trustForm" name="trustForm" ng-show="mode==&quot;main&quot; &amp;&amp; (addform_visible &amp;&amp; can_add_trust)" class="row-padding-small">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-9 form-group">
                  <label for="trust_counterparty">Portalens Ripple-navn eller -adresse</label>
                  <input id="trust_counterparty" name="trust_counterparty" type="text" rp-combobox="counterparty_query" rp-combobox-value-as-ripple-name="rp-combobox-value-as-ripple-name" ng-model="counterparty_view" rp-account-exists="rp-account-exists" rp-dest="rp-dest" rp-dest-address="rp-dest-address" rp-dest-contact="rp-dest-contact" rp-not-me="rp-not-me" rp-dest-email="rp-dest-email" rp-dest-ripple-name="rp-dest-ripple-name" rp-dest-model="counterparty" rp-dest-loading="counterparty_loading" required="required" rp-autofill="$routeParams.to" rp-autofill-counterparty_view="rp-autofill-counterparty_view" rp-autofill-on="addform_visible = true" rp-focus="rp-focus" rp-spinner="{{counterparty_loading ? 4 : null}}" class="form-control"/>
                  <div ng-messages="trustForm.trust_counterparty.$dirty &amp;&amp; trustForm.trust_counterparty.$error" class="errorGroup">
                    <div ng-show="trustForm.trust_counterparty.$valid">
                      <div ng-show="counterparty != counterparty_address &amp;&amp; counterparty_name &amp;&amp; !error_account_reserve" class="success">{{counterparty_address}}</div>
                      <div ng-show="error_account_reserve" class="error"><span>This account does not meet the minimum XRP reserve, so you cannot use it as a gateway.</span></div>
                    </div>
                    <div ng-message="required" class="error">Angi Ripple-navn, -kontakt eller -adresse.</div>
                    <div ng-message="rpNotMe" class="error">Du har angitt din egen adresse.</div>
                    <div ng-message="rpDest" class="error">Angi gyldig Ripple-navn, -kontakt eller -adresse.</div>
                    <div ng-message="rpAccountExists" class="error">You cannot add an unfunded Ripple account as a gateway.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 form-group">
                  <label for="trust_amount" ng-show="globalOptions.advanced_feature_switch">Beløp</label>
                  <label for="trust_amount" ng-hide="globalOptions.advanced_feature_switch">Valuta</label>
                  <div ng-show="globalOptions.advanced_feature_switch" class="row">
                    <div ng-init="amount = $routeParams.amount ? '' : 1000000000" class="col-md-3 col-sm-4 col-xs-3">
                      <input id="trust_amount" name="trust_amount" type="text" step="any" ng-model="amount" rp-autofill="$routeParams.amount" rp-autofill-amount="rp-autofill-amount" rp-amount="rp-amount" rp-amount-positive="rp-amount-positive" rp-max-digits="rp-max-digits" rp-amount-currency="{{amount}}" rp-autofill-on="addform_visible = true" class="form-control value"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-9">
                      <input id="trust_amount_currency" name="trust_amount_currency" type="text" ng-model="currency" rp-combobox="currency_query" rp-combobox-select="rp-combobox-select" rp-autofill="$routeParams.currency || $routeParams.amount" rp-autofill-currency="rp-autofill-currency" rp-autofill-on="addform_visible = true" rp-not-xrp="rp-not-xrp" required="required" class="form-control currency-field"/>
                    </div>
                  </div>
                  <div ng-hide="globalOptions.advanced_feature_switch" class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12">
                      <input id="trust_amount_currency" name="trust_amount_currency" type="text" ng-model="currency" rp-combobox="currency_query" rp-combobox-select="rp-combobox-select" rp-autofill="$routeParams.currency || $routeParams.amount" rp-autofill-currency="rp-autofill-currency" rp-autofill-on="addform_visible = true" rp-not-xrp="rp-not-xrp" required="required" class="form-control currency-field"/>
                    </div>
                  </div>
                  <div ng-messages="trustForm.trust_amount.$dirty &amp;&amp; trustForm.trust_amount.$error" class="errorGroup">
                    <div ng-message="required" class="error">Amount field is required.</div>
                    <div ng-message="rpAmount" class="error">Ugyldig beløp.</div>
                    <div ng-message="rpAmountPositive" class="error">Beløpet må være større enn null.</div>
                    <div ng-message="rpMaxDigits" class="error">Your amount has too many digits. The max number of digits is 16.</div>
                  </div>
                  <div ng-messages="trustForm.trust_amount_currency.$dirty &amp;&amp; trustForm.trust_amount_currency.$error" class="errorGroup">
                    <div ng-message="rpNotXrp" class="error">XRP kan sendes uten å gi kreditt. Hvis du virkelig vil gi kreditt i XRP, bruk valutakoden XRR.</div>
                    <div ng-message="required" class="error">Valutaen mangler.</div>
                  </div>
                </div>
              </div>
              <div ng-show="globalOptions.advanced_feature_switch" class="row">
                <div class="col-xs-12 allow-rippling">
                  <label for="trust_allowrippling" class="checkbox">
                    <input id="trust_allowrippling" name="trust_allowrippling" type="checkbox" ng-model="allowrippling"/><span>Tillat rippling</span>
                  </label><i rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-title="Tillat rippling" rp-popover-trigger="click" data-content="Allow this trust line's balances to be transferred to another issuer you connect to. &lt;a href=https://ripple.com/wiki/No_Ripple target=_blank&gt;More information&lt;/a&gt;" class="fa fa-question-circle help-icon"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 col-sm-7 col-md-6">
                  <rp-popup rp-popup-on-open="grant()"><a href="" rp-popup-link="rp-popup-link" ng-disabled="trustForm.$invalid || trustForm.$pending || verifying" class="btn btn-block btn-primary submit">Lagre</a>
                    <div rp-popup-content="rp-popup-content" class="connectModal">
                      <div class="modal-header">
                        <div id="logo" class="navbar-brand hidden-sm modal-logo"></div>
                        <div class="modal-title">Koble til</div>
                      </div>
                      <div class="modal-body">
                        <div class="modal-prompt">
                          <div l10n-inc="l10n-inc">You are connecting a gateway, which means</div>
                          <div l10n-inc="l10n-inc">{{ counterparty_address | rpripplename:{tilde: true} }} can:</div>
                        </div>
                        <div ng-show="globalOptions.advanced_feature_switch" class="grey-focus"><span l10n-inc="l10n-inc" class="modal-permissions">- Hold up to&#32;</span><span rp-pretty-amount="amount_feedback"></span><span l10n-inc="l10n-inc" class="modal-permissions"> on your behalf</span></div>
                        <div ng-hide="globalOptions.advanced_feature_switch" class="grey-focus"><span l10n-inc="l10n-inc" class="modal-permissions">- Hold&#32;</span><span>{{ currency }}</span><span l10n-inc="l10n-inc" class="modal-permissions"> on your behalf</span></div>
                        <div class="modal-buttons">
                          <button data-dismiss="modal" ng-click="grant_confirmed()" ng-disabled="loading" class="modal-btn btn btn-default btn-success btn-md"><img src="img/button-s.png" ng-show="loading" class="loader"/><span ng-show="loading" class="loading_text">Henter...</span><span ng-hide="loading">Bekreft</span></button>
                          <button data-dismiss="modal" ng-click="toggle_form()" ng-hide="loading" class="modal-btn btn btn-cancel btn-md btn-cancel">avbryt</button>
                        </div>
                      </div>
                    </div>
                  </rp-popup>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3">
                  <button type="button" ng-click="toggle_form()" class="btn btn-block btn-cancel">avbryt</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p ng-show="verifying" class="literal verifying"><img src="img/button-s.png" class="loader"/><span class="loading_text">Bekrefter adressen</span></p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div ng-hide="account.Balance" class="unfunded literal">Kontoen din må være <a href="https://ripple.com/knowledge_center/activating-your-wallet/" target="_blank" l10n-inc="l10n-inc">aktivert</a> før du kan koble til en portal.</div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 actions btn-add-trust"><a ng-click="toggle_form()" ng-show="!addform_visible &amp;&amp; account.Balance" ng-disabled="addform_visible" class="btn btn-primary btn-sm btn-block sign">Koble til portal</a></div>
        </div>
        <div ng-repeat="entry in accountLines" ng-class="'currency-' + (entry.components[0].balance._currency._iso_code | lowercase)" class="currencyBox">
          <div class="row currencyTitle">
            <div class="col-xs-12"><i ng-class="'fa-' + (entry.components[0].currency | lowercase)" class="icon fa fa-money"></i><span rp-currency="entry.components[0].limit" rp-currency-full="rp-currency-full" class="currency"></span></div>
          </div>
          <div class="row head hidden-xs hidden-sm">
            <div ng-class="{ 'col-md-2': globalOptions.advanced_feature_switch, 'col-md-5': !globalOptions.advanced_feature_switch }">Portal</div>
            <div ng-class="{ 'col-md-2': globalOptions.advanced_feature_switch, 'col-md-4': !globalOptions.advanced_feature_switch }">Saldo</div>
            <div ng-show="globalOptions.advanced_feature_switch" class="col-md-3">Grense</div>
            <div ng-show="globalOptions.advanced_feature_switch" class="col-md-1">Min</div>
            <div ng-show="globalOptions.advanced_feature_switch" class="col-md-2">Rippling</div>
            <div ng-class="{'col-md-2' : globalOptions.advanced_feature_switch, 'col-md-3': !globalOptions.advanced_feature_switch }">Rediger</div>
          </div>
          <hr id="divider"/>
          <div class="lines">
            <div ng-controller="AccountRowCtrl" ng-repeat="component in entry.components" class="line">
              <div ng-class="{ 'frozen-account': component.freeze_peer }" class="row">
                <div class="col-xs-full">
                  <div ng-class="{ 'col-md-2': globalOptions.advanced_feature_switch, 'col-md-5': !globalOptions.advanced_feature_switch }" data-label="Portal" class="gateway"><span rp-pretty-identity="component.account" rp-pretty-identity-filters="rpcontactnamefull | rpripplename: {tilde: true}" rp-address-popover="component.account"></span></div>
                  <div ng-class="{ 'col-md-2': globalOptions.advanced_feature_switch, 'col-md-4': !globalOptions.advanced_feature_switch }" data-label="Saldo"><span rp-address-popover="rp-address-popover" rp-address-popover-sum="component.balance">{{ component.balance | rpamount:{rel_precision: 2} }}</span></div>
                  <div ng-show="globalOptions.advanced_feature_switch" data-label="Grense" class="col-md-3"><span rp-address-popover="rp-address-popover" rp-address-popover-sum="component.limit">{{ component.limit | rpamount }}</span></div>
                  <div ng-show="globalOptions.advanced_feature_switch &amp;&amp; component.limit_peer.is_zero()" data-label="Min" class="col-md-1"><span rp-address-popover="rp-address-popover" rp-address-popover-sum="component.limit_peer">{{ component.limit_peer | rpamount }}</span></div>
                  <div ng-show="globalOptions.advanced_feature_switch &amp;&amp; !component.limit_peer.is_zero()" ng-hide="component.limit_peer.is_zero() || !globalOptions.advanced_feature_switch" data-label="Min" class="col-md-1"><span rp-address-popover="rp-address-popover" rp-address-popover-sum="component.limit_peer" rp-address-popover-sum-minus="rp-address-popover-sum-minus">-{{ component.limit_peer | rpamount }}</span></div>
                  <div ng-show="globalOptions.advanced_feature_switch" data-label="Rippling" class="col-md-2">
                    <div ng-show="component.no_ripple">Av</div>
                    <div ng-hide="component.no_ripple">På</div>
                  </div>
                  <div ng-hide="component.freeze_peer" ng-class="{ 'col-md-2': globalOptions.advanced_feature_switch, 'col-md-3': !globalOptions.advanced_feature_switch }"><span ng-hide="editing" class="visible-xs visible-sm"><a href="" ng-click="edit_account()" class="btn btn-cancel">rediger</a></span><a href="" ng-hide="editing" ng-click="edit_account()" class="hidden-xs hidden-sm">rediger</a><span ng-show="editing &amp;&amp; !globalOptions.advanced_feature_switch">
                      <div ng-show="trust.loading &amp;&amp; trust.state==='removing'" class="col-xs-6 col-sm-5">
                        <div class="row">
                          <div class="col-xs-16">
                            <button disabled="disabled" class="btn btn-block btn-danger">Removing...</button>
                          </div>
                        </div>
                      </div><span ng-hide="trust.loading">
                        <div class="row row-padding-small">
                          <div class="col-md-7 col-sm-7 col-xs-6"><span ng-show="trust.balance !== &quot;0&quot; &amp;&amp; orderbookStatus === &quot;exists&quot;">
                              <rp-confirm action-text="Are you sure you want to remove this gateway? Ripple Trade will attempt to convert the remaining balance of {{ trust.balance }} {{ trust.currency }} into XRP. This action can't be undone." action-button-text="Convert balance and remove" action-button-css="btn btn-default btn-danger custom-btn" action-function="delete_account()" cancel-button-css="btn btn-cancel" cancel-button-text="cancel" ng-hide="showPassword==true">
                                <button type="button" ng-click="load_orderbook()" ng-show="!isIncomingOnly()" class="btn btn-block btn-danger submit">Fjern</button><span rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-trigger="hover" rp-popover-title="Incoming trust" data-content="You can't delete incoming trust lines. Incoming trust lines are when other Ripple users trust you.">
                                  <button type="button" ng-click="load_orderbook()" ng-show="isIncomingOnly()" disabled="disabled" class="btn btn-block btn-danger submit">Fjern</button></span>
                              </rp-confirm></span><span ng-show="trust.balance !== &quot;0&quot; &amp;&amp; orderbookStatus === &quot;not&quot;">
                              <rp-confirm action-text="Are you sure you want to remove this gateway? Ripple Trade will return the balance of {{ trust.balance }} {{ trust.currency }} to the issuer. This action can't be undone." action-button-text="Return balance and remove" action-button-css="btn btn-default btn-danger custom-btn" action-function="delete_account()" cancel-button-css="btn btn-cancel" cancel-button-text="cancel" ng-hide="showPassword==true">
                                <button type="button" ng-click="load_orderbook()" ng-show="!isIncomingOnly()" class="btn btn-block btn-danger submit">Fjern</button><span rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-trigger="hover" rp-popover-title="Incoming trust" data-content="You can't delete incoming trust lines. Incoming trust lines are when other Ripple users trust you.">
                                  <button type="button" ng-click="load_orderbook()" ng-show="isIncomingOnly()" disabled="disabled" class="btn btn-block btn-danger submit">Fjern</button></span>
                              </rp-confirm></span><span ng-show="trust.balance === &quot;0&quot;">
                              <button type="button" ng-click="delete_account()" ng-show="!isIncomingOnly()" class="btn btn-block btn-danger submit">Fjern</button><span rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-trigger="hover" rp-popover-title="Incoming trust" data-content="You can't delete incoming trust lines. Incoming trust lines are when other Ripple users trust you.">
                                <button type="button" ng-click="delete_account()" ng-show="isIncomingOnly()" disabled="disabled" class="btn btn-block btn-danger submit">Fjern</button></span></span></div>
                          <div class="col-md-5 col-sm-5 col-xs-6"><a href="" ng-click="cancel()" ng-disabled="trust.loading" class="btn btn-block btn-cancel">avbryt</a></div>
                        </div></span></span></div>
                </div>
                <div ng-show="component.freeze_peer" class="col-xs-2"><i rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-title="Account Frozen" rp-popover-trigger="click" data-content="This account has been frozen. Please contact the issuer to unfreeze your account. &lt;a href=https://ripple.com/wiki/Freeze target=_blank&gt;More about freezing&lt;/a&gt;" class="fa fa-lock"></i></div>
              </div>
              <div ng-show="editing &amp;&amp; globalOptions.advanced_feature_switch" class="row row-padding-small-xs editBox">
                <form ng-class="{ 'frozen-account': component.freeze_peer }" ng-submit="save_account()">
                  <ng-form name="accountForm">
                    <div class="col-sm-1 col-md-1 inputPadding">Grense</div>
                    <div class="col-sm-2 col-md-3">
                      <input name="limit" type="text" ng-model="trust.limit" rp-amount="rp-amount" rp-max-digits="rp-max-digits" rp-amount-currency="{{trust.limit}}" ng-disabled="trust.loading" required="required" class="form-control"/>
                    </div>
                    <div class="col-sm-2 col-md-2 inputPadding">
                      <div class="rippling-checkbox">
                        <label>Rippling 
                          <input name="rippling" type="checkbox" ng-model="trust.rippling" ng-disabled="trust.balance !== &quot;0&quot; &amp;&amp; isIncomingOnly() &amp;&amp; ripplingEnabled()"/>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-7 col-md-6">
                      <div class="row row-padding-small">
                        <div ng-hide="trust.loading &amp;&amp; trust.state==='removing'">
                          <div ng-hide="showEnableRipplingWarningMessage()" class="col-xs-6 col-sm-5">
                            <button id="save" type="submit" ng-disabled="accountForm.$invalid || trust.loading" class="btn btn-block btn-primary"><span ng-hide="trust.loading">Lagre</span><span ng-show="trust.loading &amp;&amp; trust.state==='saving'">Lagrer...</span></button>
                          </div>
                          <div ng-show="showEnableRipplingWarningMessage()" class="col-xs-6 col-sm-5">
                            <rp-confirm action-text="Are you sure you want to enable rippling? This is an incoming trust line with a balance. If you enable rippling, you will not be able to disable it." action-button-text="Enable rippling and save" action-button-css="btn btn-default btn-danger" action-function="save_account()" cancel-button-css="btn btn-cancel" cancel-button-text="cancel" ng-hide="showPassword==true">
                              <button id="save" type="submit" ng-disabled="accountForm.$invalid || trust.loading" class="btn btn-block btn-primary"><span ng-hide="trust.loading">Lagre</span><span ng-show="trust.loading &amp;&amp; trust.state==='saving'">Lagrer...</span></button>
                            </rp-confirm>
                          </div>
                        </div>
                        <div ng-show="trust.loading &amp;&amp; trust.state==='removing'" class="col-xs-6 col-sm-5">
                          <div class="row">
                            <div class="col-xs-12">
                              <button disabled="disabled" class="btn btn-block btn-danger">Removing...</button>
                            </div>
                          </div>
                        </div>
                        <div ng-hide="trust.loading" class="col-xs-3 col-sm-4 col-md-3">
                          <div class="row text-right">
                            <div ng-show="trust.balance !== &quot;0&quot; &amp;&amp; orderbookStatus === &quot;exists&quot;" class="col-xs-12">
                              <rp-confirm action-text="Are you sure you want to remove this gateway? Ripple Trade will attempt to convert the remaining balance of {{ trust.balance }} {{ trust.currency }} into XRP. This action can't be undone." action-button-text="Convert balance and remove" action-button-css="btn btn-default btn-danger" action-function="delete_account()" cancel-button-css="btn btn-cancel" cancel-button-text="cancel" ng-hide="showPassword==true">
                                <button type="button" ng-click="load_orderbook()" ng-show="!isIncomingOnly()" class="btn btn-block btn-danger btn-xs submit">Fjern</button><span rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-trigger="hover" rp-popover-title="Incoming trust" data-content="You can't delete incoming trust lines. Incoming trust lines are when other Ripple users trust you.">
                                  <button type="button" ng-click="load_orderbook()" ng-show="isIncomingOnly()" disabled="disabled" class="btn btn-block btn-danger btn-xs submit">Fjern</button></span>
                              </rp-confirm>
                            </div>
                            <div ng-show="trust.balance !== &quot;0&quot; &amp;&amp; orderbookStatus === &quot;not&quot;" class="col-xs-12">
                              <rp-confirm action-text="Are you sure you want to remove this gateway? Ripple Trade will return the balance of {{ trust.balance }} {{ trust.currency }} to the issuer. This action can't be undone." action-button-text="Return balance and remove" action-button-css="btn btn-default btn-danger" action-function="delete_account()" cancel-button-css="btn btn-link" cancel-button-text="cancel" ng-hide="showPassword==true">
                                <button type="button" ng-click="load_orderbook()" ng-show="!isIncomingOnly()" class="btn btn-block btn-danger btn-xs submit">Fjern</button><span rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-trigger="hover" rp-popover-title="Incoming trust" data-content="You can't delete incoming trust lines. Incoming trust lines are when other Ripple users trust you.">
                                  <button type="button" ng-click="load_orderbook()" ng-show="isIncomingOnly()" disabled="disabled" class="btn btn-block btn-danger btn-xs submit">Fjern</button></span>
                              </rp-confirm>
                            </div>
                            <div ng-show="trust.balance === &quot;0&quot;" class="col-xs-12">
                              <button type="button" ng-click="delete_account()" ng-show="!isIncomingOnly()" class="btn btn-block btn-danger btn-xs submit">Fjern</button><span rp-popover="rp-popover" rp-popover-placement="bottom" rp-popover-trigger="hover" rp-popover-title="Incoming trust" data-content="You can't delete incoming trust lines. Incoming trust lines are when other Ripple users trust you.">
                                <button type="button" ng-click="delete_account()" ng-show="isIncomingOnly()" disabled="disabled" class="btn btn-block btn-danger btn-xs submit">Fjern</button></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-3"><a href="" ng-click="cancel()" ng-disabled="trust.loading" class="btn btn-block btn-cancel">avbryt</a></div>
                      </div>
                    </div>
                  </ng-form>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </group>
</section>